<%- include('partials/header') %>

<div class="content">
	<% if (data.length === 0) { %>
	<p style="color: red">Jste tu moc brzy!</p>
	<% } else { %> <% data.forEach(function(post) { %>
	<a href="/post/<%= post.id %>" class="card">
		<img src="<%= post.images[0] %>" alt="Post image" />
		<div class="card-description">
			<p><%= post.description %></p>
		</div>
	</a>
	<% }); %> <% } %>
</div>
<br /><br />

<%- include('partials/footer') %>
